{% extends '../layout.njk' %}

{% block pageTitle %}
  {{ t("dashboard:h1") }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{{ t("dashboard:h1") }}</h1>

      <div class="govuk-panel govuk-panel--confirmation bg-{{pageData.nextBin.color}}">
        <h1 class="govuk-panel__title">
          Your next bin
        </h1>
        <div class="govuk-panel__body">
          {{ pageData.nextBin.readable if pageData.nextBin.readable else pageData.nextBin.date | formatDate }} ({{ pageData.nextBin.color }})
        </div>
      </div>

      <br><br>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
          <!-- Tab for each month -->
          {% for month, dateObj in pageData.groupedDates %}
            <li class="govuk-tabs__list-item {% if month == pageData.currentMonth %}govuk-tabs__list-item--selected{% endif %}">
              <a class="govuk-tabs__tab" href="#{{ month }}">
                {{ month.substr(0, 3) }}
              </a>
            </li>
          {% endfor %}
        </ul>
      
        <!-- Tab panel for each month -->
        {% for month, dateObj in pageData.groupedDates %}
          <div class="govuk-tabs__panel" id="{{ month }}">
            {% for date in dateObj %}
              <strong class="govuk-tag bg-{{date.color}} govuk-!-font-size-48 govuk-!-margin-right-5">
                {{ date.date | formatDate('yyyy-MM-dd', 'd') }}
              </strong>
            {% endfor %}
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
{% endblock %}
