{% extends '../layout.njk' %}

{% block pageTitle %}
  {{ t("dashboard:h1") }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ t("dashboard:h1") }} {{ pageData.today | formatDate('yyyy-MM-dd', 'yyyy') }}</h1>

      <div class="govuk-panel govuk-panel--confirmation bg-{{pageData.nextBin.color}}">
        <h1 class="govuk-panel__title">
          Your next bin
        </h1>
        <div class="govuk-panel__body">
          {{ pageData.nextBin.readable if pageData.nextBin.readable else pageData.nextBin.date | formatDate }} ({{ pageData.nextBin.color }})
        </div>
      </div>

      <br><br>

      <h2 class="govuk-heading-m">Current month</h2>
      {% for month, dateObj in pageData.groupedDates %}
        {% if month == pageData.today | formatDate('yyyy-MM-dd', 'LLLL') %}
          <div class="govuk-grid-column-full">
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                  {{ month }}
                </h2>
              </div>
              <div class="govuk-notification-banner__content">
                {% for date in dateObj %}
                  <strong class="govuk-tag bg-{{date.color}} responsive-text govuk-!-margin-5">
                    {{ date.date | formatDate('yyyy-MM-dd', 'd') }}
                  </strong>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

      <h2 class="govuk-heading-m">Rest of the months</h2>
      {% for month, dateObj in pageData.groupedDates %}
        {% if month != pageData.today | formatDate('yyyy-MM-dd', 'LLLL') %}
          <div class="govuk-grid-column-one-half">
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                  {{ month }}
                </h2>
              </div>
              <div class="govuk-notification-banner__content">
                {% for date in dateObj %}
                  <strong class="govuk-tag bg-{{date.color}} responsive-text govuk-!-margin-5">
                    {{ date.date | formatDate('yyyy-MM-dd', 'd') }}
                  </strong>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

      <!-- {% for month, dateObj in pageData.groupedDates %}
        <div class="govuk-grid-column-one-half">
          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                {{ month }}
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
                {% for date in dateObj %}
                  <strong class="govuk-tag bg-{{date.color}} responsive-text govuk-!-margin-5">
                    {{ date.date | formatDate('yyyy-MM-dd', 'd') }}
                  </strong>
                {% endfor %}
              </p>
            </div>
          </div>
        </div>
      {% endfor %} -->

      <!-- <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            {% for month, dateObj in pageData.groupedDates %}
              <div class="govuk-accordion__section {% if month == pageData.today | formatDate('yyyy-MM-dd', 'LLLL') %}govuk-accordion__section--expanded{% endif %}">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="{{ month }}">
                      {{ month.substr(0, 3) }}
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-{{ month }}" class="govuk-accordion__section-content" aria-labelledby="{{ month }}">
                  {% for date in dateObj %}
                    <strong class="govuk-tag bg-{{date.color}} govuk-!-font-size-48 govuk-!-margin-5">
                      {{ date.date | formatDate('yyyy-MM-dd', 'd') }}
                    </strong>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div> -->

    </div>
  </div>
{% endblock %}
