.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  .card {
    width: calc(100% * (1 / 2) - 0px - 20px);
    margin: 0 10px 20px 10px;
    &.full {
      width: calc(100% * (2 / 2) - 0px - 20px);
    }

    &.double {
      width: calc(100% * (2 / 2) - 0px - 20px);
    }

    &.half {
      width: calc(100% * (1 / 2) - 0px - 20px);
    }

    .govuk-inset-text {
      border-left-width: 3px;
    }
  }

  @media screen and (max-width: 960px) {
    .card, .card.double, .card.half {
      width: calc(100% * (1 / 2) - 0px - 20px);
    }
  }
}

.card {
  margin-bottom: 20px;
  box-sizing: border-box;

  .govuk-button--secondary {
    margin-bottom: 0px;
    background: #fff;
    color: #10813e;
    border: 2px solid #10813e;
    box-shadow:none;
  }

  h2 {
    background: #dde0e2;
    padding: .8em 1em;
    margin: 0;
  }

  a {
    h2, h3, h4 {
      color: #1d70b8;
    }

    &:hover {
      h2, h3, h4 {
        color: #003078;
      }
    }

    &:visited {
      h2, h3, h4 {
        color: #1d70b8;
      }
    }

    &:focus {
      h2, h3, h4 {
        background: #fd0;
        color: #0b0c0c;
        box-shadow: 0 4px 0 #0b0c0c;
      }
    }
  }

  .card-inner-panel {
    background-color: #f8f8f8;
    padding: 1.1em;
  }
}
