<nav class="navigation-secondary govuk-!-margin-bottom-6" role="navigation">
  <ul>
    <li>
      <a href="{{ routes.dashboard }}" id="nav-home" class="govuk-link {{ 'active' if currentPageUrl === routes.dashboard }}">Home</a>
    </li>
    <li>
      <a href="{{ routes.faqs }}" id="nav-faqs" class="govuk-link {{ 'active' if currentPageUrl === routes.faqs }}">FAQs</a>
    </li>
  </ul>
</nav>
