@import "components/nav";
@import "components/button";

.bg-brown {
  background-color: brown;
}

.bg-green {
  background-color: green;
}

.bg-grey {
  background-color: grey;
}

.responsive-text {
  font-size: 34px;
}

/* Reduce font size below tablet */
@media (max-width: 640px) {
  .responsive-text {
    font-size: 28px;
  }
}
