@import "components/card";
@import "components/nav";
@import "components/button";

.bg-brown {
  background-color: brown;
}

.bg-green {
  background-color: green;
}

.bg-grey {
  background-color: grey;
}
