{% extends '../layout.njk' %}

{% block pageTitle %}
  {{ t("dashboard:h1") }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">FAQs</h1>

      <h2 class="govuk-heading-m">Why build this website ?</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>The North Tyneside bin collection website is garbage (pun intended). It throws error for my postcode</li>
        <li>Can't bother to remember or refer to a piece of paper everything week. A glimpse of the phone is easier for me</li>
        <li>Automatically calculates bin dates for all the upcoming years</li>
        <li>Mobile friendly website</li>
      </ul>

      <h2 class="govuk-heading-m">Where can I propose suggestions ?</h2>
      <p class="govuk-body">This is a side-of-desk project for me. So, assuming they are requests (and not demands), I will definitely look into them when I get time from my work & family.<p>
      <p class="govuk-body">You can <a href="mailto:kainikhil@gmail.com?subject=Bin Collection Query">Email me</a> with the details.<p>
    </div>
  </div>
{% endblock %}
